---
layout: comparison_page
trial_bar: true
suppress_header: true
title: "GitLab CI vs. Jenkins | GitLab compared to other tools"
image_title: '/images/comparison/title_image.png'
extra_css:
  - compared.css
  - release-posts.css
extra_js:
  - comparison.js
  - bootstrap-tooltip.js
---

- competitors = data.features.competitors
= partial "includes/comparison_table", locals: { comparison_block: data.features.comparisons.gitlab_ci_vs_jenkins, product_one: competitors.gitlab_ci, product_two: competitors.jenkins, key_one: :gitlab_ci, key_two: :jenkins }
